#inventory-invoice{
    padding: 30px;
}
#inventory-invoice a{
    text-decoration:none !important;
    color: $dark !important;
}
.invoice {
    position: relative;
    background-color: $white;
    min-height: 680px;
    padding: 15px;
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid $grey;
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .contacts .to, .invoice .contacts .from {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: $invoice-primary
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid $invoice-primary
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,.invoice table th {
    padding: 15px;
    background: $grey-light;
    border-bottom: 1px solid $white;
}

.invoice table th{
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    border:1px solid black;
}
.invoice table td{
    border:1px solid black;
}
.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: $invoice-primary;
    font-size: 1.2em
}

.invoice table .tax,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    font-size: 1.6em;
}


.invoice table tfoot td {
    background: 0 0;
    border-bottom: 1px solid black;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: $invoice-primary;
    font-size: 1.4em;
    border-top: 1px solid $invoice-primary
}

.invoice ol, ul{
    margin-left: -25px !important;
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

@media print {
    .invoice {
        font-size: 14px!important;
        overflow: hidden!important
    }
}
