#gate-pass{
    max-width: 400px;
    margin:auto;
    font-size: 14px;

    a{
        text-decoration: none;
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .toolbar{
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 20px;
        justify-content: space-between;

        .btn{
            width: 45%;
        }
    }

}


@media print {
    * {
        font-size:12px;
        line-height: 20px;
    }
    td,th {padding: 5px 0;}
    .hidden-print {
        display: none !important;
    }
    @page { margin: 0; } body { margin: 0.5cm; margin-bottom:1.6cm; }
}
